## Documentation: http://projectlombok.org/features/configuration.html
## Key : lombok.nonNull.exceptionType
## Type: enum (lombok.core.configuration.NullCheckExceptionType)
##
## The type of the exceptions to throw if a passed-in argument is null. Default: NullPointerException.
##
clear lombok.nonNull.exceptionType
lombok.nonNull.exceptionType = IllegalArgumentException
